/* GENERAL STYLES */

/* FONTS */
  /* headers:
      /* font-family: 'Karla', sans-serif; */
  /* regular text */
      /* font-family: 'Lora', serif; */

/* COLORS */
  /* dark blue for some texts and backgrounds = #000033 */
  /* white / lightblue gradient background = linear-gradient(to right, white, lightblue) */

/* general css */


body {
  margin: 0;
  font-family: 'lora', serif;
  color: #000033;
}

a {
  text-decoration: none;
  color: #000033;
}

a:hover {
  color: blue;
}

h1 {
  font-family: "karla", sans-serif;
}

h2 {
  font-family: "karla", sans-serif;
  text-align: center;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

button {
  display: inline-block;
}



/* header section */
#logo {
  width: 60px;
  margin-right: 10px;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  background: linear-gradient(to right, white, lightblue);
}

header div {
  display: flex;
  width: 30%;
  margin-left: 10%;
  align-items: center;
}

nav {
  width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-weight: bold;
  font-size: .8em;
}

nav button {
  background-color: transparent;
  width: 120px;
  height: 40px;
  font-size: .75em;
  border: 2px solid #000033;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

nav button:hover {
  background-color: #000033;
  color: #ffffff;
}


/* hero section */

main, #try-main {
/* margin-top: 100px; */
}

#hero-section {
  height: 450px;
  display: flex;
  background: linear-gradient(to right, white, lightblue);
}

#hero-image {
  width: 50%;
  text-align: right;
}

#hero-image img {
  height: 450px;
}

#hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-text h1 {
font-size: 6em;
margin: 0;
}

#hero-text h2 {
  text-align: left;
  font-size: 2em;
  font-family: 'lora', serif;
  margin: 0 0 0 10px;
}

#hero-text button {
  width: 250px;
  height: 60px;
  margin:10px 0 0 10px;
  border: 3px solid #000033;
  border-radius: 5px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000033;
  color: white;
}

#hero-text button:hover {
  border-color: white;
}



/* pic section */
/* you may want to try using object-fit:cover; */

#pic-section img {
  width: 95%;
  height: 200px;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

#pic-gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 15px;
  background: linear-gradient(to right, white, lightblue);
  padding-top: 20px;
}



/* vid section */

#vid-gallery {
  display: flex;
  background: linear-gradient(to right, white, lightblue);
  padding: 20px 0 20px 0;
}

.video {
  width: 48%;
  margin: 0 auto;
}

/* copied video responsive from https://www.ostraining.com/blog/coding/responsive-videos/ */

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* review section */

#reviews {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

#reviews img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer {
width: 30%;
text-align: center;

}

/* contact section */

footer {
  padding-top: 20px;
  background: linear-gradient(to right, white, lightblue);
}

#contact {
  text-align: center;
  padding-bottom: 20px;
}

small {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: white;
  background-color: #000033;
}


/* try.html page */

#try-main {
  height: 75vh;
  min-height: 550px;
  display: flex;
  text-align: center;
}

#catselect {
  width: 50%;
}

#catselect h2 {
  padding-top: 50px;
  font-size: 2em;
}

#catselect select, #catselect button {
width: 50%;
height: 50px;
border-radius: 5px;
border: 2px solid black;
font-size: 1.5em;
min-width: 300px;
}

#catselect button {
  margin-top: 200px;
  border: 3px solid #000033;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000033;
  color: white;
}

#catselect button:hover {
  border-color: white;
  cursor: pointer;
}

#catselect button:focus {
  outline: none;
}

#catpic img {
  width: 400px;
  height: 400px;
  margin-top: 85px;
  object-fit: cover;
  border: 2px solid #000033;
  border-radius: 5px;
}

/* //////////////////////  MEDIA QUERIES  ////////////////////// */

@media only screen and (max-width: 770px){

  html {
    font-size: 14px;
  }

  nav a {
    font-size: 1rem;
  }

  nav button {
    width: 100px;
  }

  header div {
    margin-left: 5%;
    width: 20%;
  }

  nav {
    margin-right: 5%;
    width: 70%;
  }

  #hero-section {
    display: block;
  }

  #hero-image {
    width: 100%;
    text-align: center;
  }

  #hero-text {
    width: 100%;
    text-align: center;
  }

  #hero-text h2 {
    text-align: center;
    padding:0;
  }

  #hero-image img {
    height: 200px;
  }

  #vid-gallery {
    display: block;
  }

  .video {
    width: 96%;
    margin-bottom: 10px;
  }

  #reviews {
    display: block;
  }

  .reviewer {
    width: 100%;
    scroll-padding-top: 30px;
  }

  .reviewer p {
    width: 80%;
    margin: 0 auto;
  }

  #try-main {
    display: block;
    height: auto;
  }

  #catselect, #catpic {
    width: 100%;
  }

}


/* 

npm i -g surge
surge
(might have to sign up)
hit return after "project" is displayed
will provide domain
hit return (will process) */
